.content{
    text-align: center;
   
}
.centered{
  color: white;
    /* position: absolute;
    top: 20%;
    right: 300px; */
    font-weight: 600;
    font-size: 20px;
    margin-top: -400px;
    width: 950px;
    margin-inline: auto;
   
}
.centered button{
    color: white;
    background-color: rgba(255, 68, 0, 0.888);
    padding: 9px 15px;
    border: 0px;
    border-radius: 10px;
}
